<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>

    <link href="~/css/admin.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/scripts-admin.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
