html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

figure.image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

figure.image figcaption {
    font-size: 0.875rem;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 0.625rem;
    text-align: center;
    color: #6c757d;
}

img {
    height: auto;
}

.bg-logout-image {
    background: url(https://steemitimages.com/p/5s4dzRwnVbzHYcBd9mF1dVqekSMzvFGvppuUtGx1vgd9YJC8fi5Nf9WWYEpY89ihHK1V5T4nCeBeMS3QirZbUT1r9Adnq47YzEwAXP53kNMAKCNdzRZuJpc8zjDki9bemQUWo3U4dEgFKFBSUQ3er7egTWNFCKpG6TPHa8Q?format=match&mode=fit&width=640);
    background-position: center;
    background-size: cover;
}